.button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: #EDEDED;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #EDEDED;
    text-align: center;
}

.button:hover {
    background-color: #EDEDED;
    color: #000000;
}

.active {
    background-color: #EDEDED;
    color: #000000;
}
