.card {
    width: 180px;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.titleDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemonName {
    font-size: 14px;
    font-color: white;
}

.pokemonSprite {
    margin: auto
}

.typesDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}
