.card {
    width: min(100%, 180px);
    height: min(100%, 180px);
    border-radius: 12px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
}

.titleDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemonName {
    font-size: 14px;
    font-color: white;
}

.pokemonSprite {
    margin: 6px auto;
    width: auto;
    height: min(120px, 70%);
    aspect-ratio: 1/1;
}

.typesDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}
