:root {
    --normal-dark: #ACAC9B;
    --normal-light: #EBEBD3;
    --fire-dark: #DE220A;
    --fire-light: #DE5847;
    --water-dark: #0862CC;
    --water-light: #74C4F5;
    --electric-dark: #F5C508;
    --electric-light: #FFDB8D;
    --grass-dark: #438C1F;
    --grass-light: #9AD40C;
    --ice-dark: #44EDFF;
    --ice-light: #D2FFFD;
    --fighting-dark: #FF6601;
    --fighting-light: #FF9752;
    --poison-dark: #A107AD;
    --poison-light: #E18DFF;
	--ground-dark: #8C4E20;
    --ground-light: #E3A45B;
	--flying-dark: #B3B4E7;
    --flying-light: #E2E5FF;
	--psychic-dark: #EB0BD6;
    --psychic-light: #F466FF;
	--bug-dark: #606B02;
    --bug-light: #BDD12F;
	--rock-dark: #787249;
    --rock-light: #C9BE87;
	--ghost-dark: #2D0A63;
    --ghost-light: #774BED;
	--dragon-dark: #411EE3;
    --dragon-light: #6260E3;
	--dark-dark: #141626;
    --dark-light: #4C527A;
	--steel-dark: #545454;
    --steel-light: #C7C7C7;
	--fairy-dark: #F983FF;
    --fairy-light: #F6B5FF;
}
